@import 'tailwindcss';

@theme {
  --color-peachyellow: #EFD28D;
  --color-indigodye: #004777;
  --color-bittersweet: #FF5A5F
}

a {
    color: var(--color-bittersweet);
    text-decoration: underline;
}

ul {
    list-style: inside;
}

:global {
    font-family: Veranda, Georgia, sans;
}
